[net]
batch=32
subdivisions=1
# Training
width=416
height=416
#width=608
#height=608
channels=3
momentum=0.949
decay=0.0005
angle=0
saturation = 1.5
exposure = 1.5
hue=.1



learning_rate=0.002
burn_in=1000
;max_batches = 500500
max_batches = 85000
policy=steps
steps=65000,75000
scales=.1,.1

#cutmix=1
#mosaic=1

#conv1
[convolutional]
batch_normalize=1
filters=8
size=3
stride=2
pad=1
activation=relu

#conv2_1/dw
[convolutional]
groups=8
filters=8
batch_normalize=1
size=3
stride=1
pad=1
activation=relu

#conv2_1/sep
[convolutional]
batch_normalize=1
filters=16
size=1
stride=1
pad=0
activation=relu


#conv2_2/dw
[convolutional]
groups=16
filters=16
batch_normalize=1
size=3
stride=2
pad=1
activation=relu

#conv2_2/sep
[convolutional]
batch_normalize=1
filters=32
size=1
stride=1
pad=0
activation=relu

#conv3_1/dw
[convolutional]
groups=32
filters=32
batch_normalize=1
size=3
stride=1
pad=1
activation=relu


#conv3_1/sep
[convolutional]
batch_normalize=1
filters=32
size=1
stride=1
pad=0
activation=relu

#conv3_2/dw
[convolutional]
groups=32
filters=32
batch_normalize=1
size=3
stride=2
pad=1
activation=relu

#conv3_2/sep
[convolutional]
batch_normalize=1
filters=64
size=1
stride=1
pad=0
activation=relu

#conv4_1/dw
[convolutional]
groups=64
filters=64
batch_normalize=1
size=3
stride=1
pad=1
activation=relu

#conv4_1/sep
[convolutional]
batch_normalize=1
filters=64
size=1
stride=1
pad=0
activation=relu

#conv4_2/dw
[convolutional]
groups=64
filters=64
batch_normalize=1
size=3
stride=2
pad=1
activation=relu

#conv4_2/sep
[convolutional]
batch_normalize=1
filters=128
size=1
stride=1
pad=0
activation=relu

#conv5_1/dw
[convolutional]
groups=128
filters=128
batch_normalize=1
size=3
stride=1
pad=1
activation=relu

#conv5_1/sep
[convolutional]
batch_normalize=1
filters=128
size=1
stride=1
pad=0
activation=relu

#conv5_2/dw
[convolutional]
groups=128
filters=128
batch_normalize=1
size=3
stride=1
pad=1
activation=relu

#conv5_2/sep
[convolutional]
batch_normalize=1
filters=128
size=1
stride=1
pad=0
activation=relu

#conv5_3/dw
[convolutional]
groups=128
filters=128
batch_normalize=1
size=3
stride=1
pad=1
activation=relu

#conv5_3/sep
[convolutional]
batch_normalize=1
filters=128
size=1
stride=1
pad=0
activation=relu

#conv5_4/dw
[convolutional]
groups=128
filters=128
batch_normalize=1
size=3
stride=1
pad=1
activation=relu

#conv5_4/sep
[convolutional]
batch_normalize=1
filters=128
size=1
stride=1
pad=0
activation=relu

#conv5_5/dw
[convolutional]
groups=128
filters=128
batch_normalize=1
size=3
stride=1
pad=1
activation=relu

#conv5_5/sep
[convolutional]
batch_normalize=1
filters=128
size=1
stride=1
pad=0
activation=relu

#conv5_6/dw
[convolutional]
groups=128
filters=128
batch_normalize=1
size=3
stride=2
pad=1
activation=relu

#conv5_6/sep
[convolutional]
batch_normalize=1
filters=128
size=1
stride=1
activation=relu


##################
#ssh
[convolutional]
batch_normalize=1
filters=64
size=1
stride=1
pad=1
activation=leaky

[convolutional]
filters=64
groups=64
batch_normalize=1
size=3
stride=1
pad=1
activation=leaky

[convolutional]
filters=64
groups=64
batch_normalize=1
size=1
stride=1
pad=1
activation=leaky

[route]
layers = -3

[convolutional]
filters=64
groups=64
batch_normalize=1
size=3
stride=1
pad=1
activation=leaky

[convolutional]
filters=32
batch_normalize=1
size=1
stride=1
pad=1
activation=leaky


[convolutional]
filters=32
groups=32
batch_normalize=1
size=3
stride=1
pad=1
activation=leaky

[convolutional]
filters=32
batch_normalize=1
size=1
stride=1
pad=1
activation=leaky

[route]
layers = -3

[convolutional]
filters=32
groups=32
batch_normalize=1
size=5
stride=1
pad=1
activation=leaky

[convolutional]
filters=32
batch_normalize=1
size=1
stride=1
pad=1
activation=leaky



[route]
layers = -1,-4

[shortcut]
from=-1,-10
activation=leaky


[convolutional]
batch_normalize=1
filters=48
size=1
stride=1
pad=1
activation=linear


[yolo]
mask = 6,7,8
anchors = 12,12,  20,20,  32,32,  48,48,  96,96,  128,128,  196,196,  300,300,  512,512
classes=1
num=9
jitter=.35
cls_normalizer=1.0
iou_normalizer=0.02
iou_loss=ciou
ignore_thresh = .5
truth_thresh = 1


[route]
layers = -16

[upsample]
stride=2

[convolutional]
batch_normalize=1
filters=64
size=1
stride=1
activation=leaky

[route]
layers = 22

[convolutional]
batch_normalize=1
filters=64
size=1
stride=1
activation=leaky

[shortcut]
activation=leaky
from=-3
#ssh
[convolutional]
batch_normalize=1
filters=64
size=1
stride=1
pad=1
activation=leaky

[convolutional]
filters=64
groups=64
batch_normalize=1
size=3
stride=1
pad=1
activation=leaky

[convolutional]
filters=64
groups=64
batch_normalize=1
size=1
stride=1
pad=1
activation=leaky

[route]
layers = -3

[convolutional]
filters=64
groups=64
batch_normalize=1
size=3
stride=1
pad=1
activation=leaky

[convolutional]
filters=32
batch_normalize=1
size=1
stride=1
pad=1
activation=leaky


[convolutional]
filters=32
groups=32
batch_normalize=1
size=3
stride=1
pad=1
activation=leaky

[convolutional]
filters=32
batch_normalize=1
size=1
stride=1
pad=1
activation=leaky

[route]
layers = -3

[convolutional]
filters=32
groups=32
batch_normalize=1
size=5
stride=1
pad=1
activation=leaky

[convolutional]
filters=32
batch_normalize=1
size=1
stride=1
pad=1
activation=leaky



[route]
layers = -1,-4

[shortcut]
from=-1,-10
activation=leaky


[convolutional]
batch_normalize=1
filters=32
size=1
stride=1
pad=1
activation=linear


[yolo]
mask = 4,5
anchors = 12,12,  20,20,  32,32,  48,48,  96,96,  128,128,  196,196,  300,300,  512,512
classes=1
num=9
jitter=.35
cls_normalizer=1.0
iou_normalizer=0.02
iou_loss=ciou
ignore_thresh = .5
truth_thresh = 1


[route]
layers = -16

[upsample]
stride=2

[convolutional]
batch_normalize=1
filters=64
size=1
stride=1
pad=0
activation=leaky


[route]
layers = 10


[convolutional]
batch_normalize=1
filters=64
size=1
stride=1
pad=0
activation=leaky

[shortcut]
activation=leaky
from=-3

#ssh
[convolutional]
batch_normalize=1
filters=64
size=1
stride=1
pad=1
activation=leaky

[convolutional]
filters=64
groups=64
batch_normalize=1
size=3
stride=1
pad=1
activation=leaky

[convolutional]
filters=64
groups=64
batch_normalize=1
size=1
stride=1
pad=1
activation=leaky

[route]
layers = -3

[convolutional]
filters=64
groups=64
batch_normalize=1
size=3
stride=1
pad=1
activation=leaky

[convolutional]
filters=32
batch_normalize=1
size=1
stride=1
pad=1
activation=leaky


[convolutional]
filters=32
groups=32
batch_normalize=1
size=3
stride=1
pad=1
activation=leaky

[convolutional]
filters=32
batch_normalize=1
size=1
stride=1
pad=1
activation=leaky

[route]
layers = -3

[convolutional]
filters=32
groups=32
batch_normalize=1
size=5
stride=1
pad=1
activation=leaky

[convolutional]
filters=32
batch_normalize=1
size=1
stride=1
pad=1
activation=leaky



[route]
layers = -1,-4

[shortcut]
from=-1,-10
activation=leaky


[convolutional]
batch_normalize=1
filters=64
size=1
stride=1
pad=1
activation=linear


[yolo]
mask = 0,1,2,3
anchors = 12,12,  20,20,  32,32,  48,48,  96,96,  128,128,  196,196,  300,300,  512,512
classes=1
num=9
jitter=.35
cls_normalizer=1.0
iou_normalizer=0.02
iou_loss=ciou
ignore_thresh = .5
truth_thresh = 1
random=1

